<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="color1" value="-16744448"/>
		<add key="color2" value="-256"/>
		<add key="color3" value="-65536"/>
		<add key="FontName" value="宋体"/>
		<add key="FontStyle" value="Bold, Italic"/>
		<add key="FontSize" value="60"/>
	</appSettings>
</configuration>